<div class="columns is-centered">
  <div class="column">
    <div class="box">
      <h1 class="title center">About</h1>
    </div>
  </div>
</div>

<div class="columns is-centered">
  <div class="column is-8">
    <div class="box">
      <h2 class="title is-5 center">General</h2>
      <p class="content">
        HayMaker hosts cryptocurrency paper trading competitions. Each competition
        is encapsulated within a league. Players compete for the oldest
        digital currency, bragging rights. You can join an existing league or
        create your own.
      </p>
      <p class="content">Go big or down swinging!</p>
    </div>
  </div>
</div>

<div class="columns is-centered">
  <div class="column is-8">
    <div class="box">
      <h2 class="title is-5 center" id="modes-about">Game Modes</h2>

      <h3 class="title is-6">Slugfest</h3>

        <p class="content">Round base trading competition with fistfights and
        leverage.</p> <p class="content">Each round players must survive head to
        head battles known as fistfights. Players decide if and when to initiate
        a fistfight. This decision must happen before the middle of the
        round.</p>

        <p class="content">Winners of each fistgiht move on to the next round,
        losers are knocked out of the league. In addition to survival, winners
        will receive one shield which they can use in a future round of their
        choice. When a player actives a shield, he or she is shielded from
        participating in any additional fistfights. Shields
        expire at the end of the round.</p>

        <p class="content">A player’s round performance is determined by the
        percentage change of their score from the beginning of the round
        compared to the end of the round. A player's score consists of the
        players portfolio value plus or minus any <strong>earned</strong> bonus
        points from leveraging. For example, let's suppose player A1 and player B1
        are in a fistfight. If A1 increases his score by 10% and B1 increases
        his score by 9%, A1 moves on to the next round and B1 is knocked out of
        the league. Each round is independent from the rest, so every  player's
        performance is reset to 0 at the beginning of each round.</p>

      <h3 class="title is-6">Bare Knuckle</h3>

      <p class="content"> Trading competition without rounds, fistfights, or
        leverage.
      </p>
    </div>
  </div>
</div>

<div class="columns is-centered">
  <div class="column  is-8">
    <div class="box">
      <h2 class="title is-5 center" id="leverage-about">Leverage Information</h2>
      <h3 class="title is-6">What is the leverage? </h3>
      <p class="content">
        By leveraging, you
        make a bet on your entire portfolio. At the end of the bet, you will
        either receive a leverage bonus for a correct prediction or a leverage
        penalty for an incorrect prediction.
      </p>

      <p class="content">
        <h3 class="title is-6">What is the bet? </h3>
        <ol>
          <li class="content">Your portfolio will increase in value before the
            league ends.
          </li>
          <li class="content">Your portfolio will not fall to or below the
            liquidation point.
          </li>
        </ol>
      </p>
      <p class="help"> * The system liquidates eligible accounts every 10
      seconds.</p>
      <p class="content">
        <h3 class="title is-6">When does the bet end? </h3>

        <p class="content">The bet ends if any of the following scenarios
        occur:</p>
        <ol>
          <li>
            You click the deleverage button located within the league’s
            homepage.
          </li>
          <li>
            Your portfolio falls to or below the liquidation point.
          </li>
        </ol>
      </p>
      <p class="content">
        <h3 class="title is-6">How is the penalty/bonus calculated?</h3>
        At the start of the bet the current value of your portfolio will be
        used to generate a baseline value. At the end of the bet, the current
        value of your portfolio will be used to generate a post value. The
        percentage difference will be used to calculate your bonus/penalty.
        View the chart below for examples.
      </p>
      <p class="content">
        <h3 class="title is-6">How is the liquidation trigger point calculated?
        </h3>

        At the start of the bet the current value of your portfolio will be used
        to gather a baseline. This baseline and the leverage type will determine
        the liquidation point. See the table below for the general liquidation
        trigger points.
      </p>
      <p class="content">
        <h3 class="title is-6">What's the difference between earned and unearned
        bonus point?</h3> While leverage is active the bonus points are
        considered unearned points. These points are not considered in the
        calculation of your score.  After you deleverage(end the bet), you earn
        the points. These points are considered in the calculation of your
        score. The system will also automatically deleverage all players with
        outstanding bets at the end of each game thereby transforming those
        points into earned points.
      </p>
      <p class="content">
      </p>
      <p class="content">
      </p>
      <p class="content">
      </p>
      <p class="content">
      </p>
      <p class="content">
      </p>
      <p class="content">
      </p>

      <h2 class="title is-5 center">Liquidation Rates</h2>
      <table class='table is-striped'>
        <thead>
          <th>Size</th>
          <th>Liquidation Trigger</th>
        </thead>

        <tbody>
          <% Leverage.all.each do |leverage|  %>
          <tr>
            <td><%= leverage.size %>x</td>
            <td>-<%= leverage.liquidation * 100 %>%</td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <h2 class="title is-3 center">Bonus/Penalty Examples</h2>
      <table class="table is-striped is-fullwidth">
        <thead>
          <th>Size</th>
          <th>Baseline</th>
          <th>Post Value</th>
          <th>Net Bonus</th>
          <th>Score</th>
        </thead>
        <tbody>
          <% Leverage.all.each do |leverage|  %>
            <% next unless leverage.size == 2 || leverage.size == 100%>
            <tr>
              <td><%= leverage.size %>x</td>
              <td><%= number_to_currency 100  %></td>
              <td><%= number_to_currency 101 %></td>
              <td><%=(leverage.size * 1) - 1%> Bonus</td>
              <td><%= number_with_delimiter (100 + (leverage.size * 1))%></td>
            </tr>
            <tr>
              <td><%= leverage.size.to_f %>x</td>
              <td><%= number_to_currency 100 %></td>
              <td><%= number_to_currency 150 %></td>
              <td><%=(leverage.size * 50) - 50%> Bonus</td>
              <td><%= number_with_delimiter (100 + (leverage.size * 50))%></td>
            </tr>
            <tr>
              <td><%= leverage.size.to_f %>x</td>
              <td><%= number_to_currency 100  %></td>
              <td><%= number_to_currency 99 %></td>
              <td><%= penalty = (leverage.size * 1) - 1%> Penalty</td>
              <td><%=number_with_delimiter (100 - (leverage.size * 1))%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="columns is-centered">
  <div class="column is-8">
    <div class="box">
      <h2 class="title is-5 center">FQA</h2>
      <p class="content">
      </p>
    </div>
  </div>
</div>
