<center>
<p><%= flash[:notice] %></p>

<h1>Log in</h1>

<%= form_for(:session, url: login_path) do |f| %>
  
  <span class="login_form_titles">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </span>

  <span class="login_form_titles">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </span>
  <br>
  <br>

  <div class="login_form_titles">
    <%= f.label :Remember_me %>
    <%= f.check_box :remember_me %>
  </div>

  <br>
  <br>

  <%= f.submit "Log in" %>
<% end %>
</center>
