<%= form_with(model: league, local: true) do |form| %>
  <% if league.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(league.errors.count, "error") %> prohibited this league from being saved:</h2>

      <ul>
      <% league.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :id, id: params["id"] %>
  </div>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.text_field :name, id: :league_name, class: "input is-small", required: true %>
    </div>
  </div>

  <div class="field">
    <%= form.label :community, class: "label" %>
    <div class="control">
      <div class="select is-small">
        <select disabled=true>
          <%= options_for_select(['Public', 1], ['Private', 2])%>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :entry_fee, class: "label" %>
    <div class="control">
      <div class="select is-small">
        <select class="" name="" disabled=true>
          <%= options_for_select(['Free', 1], ['Paid', 2])%>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
      <div class="control">
      <%= form.hidden_field :user_id, value: current_user.id,
      class:"input"%>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.label :start_date, class: "label"%>
      <%= form.date_select :start_date, id: :league_start_date,
      class:"input"%>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.label :end_date, class: "label" %>
      <%= form.date_select :end_date, id: :league_end_date,
      class:"input"%>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.label :rounds, class: "label" %>
      <%= form.number_field :rounds, id: :league_rounds, class:"input is-small",
      disabled: true%>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <%= form.submit class:"button is-info is-inverted is-outlined" %>
    </div>
    <div class="control">
      <%= button_tag "Reset", type: :reset, class:"button is-info is-inverted
        is-outlined" %>
    </div>
  </div>

<% end %>
