<%= form_with(model: league, local: true) do |form| %>
  <% if league.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(league.errors.count, "error") %> prohibited this league from being saved:</h2>

      <ul>
      <% league.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :id, id: params["id"] %>
  </div>

  <div class="field">
    <%= form.label :game_mode, class: "label" %>
    <div class="control">
      <div class="select is-small">
        <select name="game_mode" >
          <%= options_for_select(['Swing', 'Bare Knuckle'])%>
        </select>
      </div>
    </div>
  </div>

  <%= form.label :name, class: "label" %>
  <div class="field has-addons">
    <div class="control">
      <%= form.text_field :name, id: :league_name, class: "input is-small", required: true %>
    </div>
    <div class="control">
      <a class="button is-static is-small">
        League
      </a>
    </div>
  </div>

  <div class="field">
    <%= form.label :entry_fee, class: "label" %>
    <div class="control">
      <div class="select is-small">
        <select class="" name="entry_fee" disabled=true>
          <%= options_for_select(['Free', 1], ['Paid', 2])%>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :prize, class: "label" %>
    <div class="control">
      <div class="select is-small">
        <select class="" name="prize" disabled=true>
          <%= options_for_select(['Bragging Rights', 1], ['XP', 2])%>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :community, class: "label" %>
    <div class="control">
      <div class="select is-small">
        <select name="community", id="community_select">
          <%= options_for_select(['Public', 'Private'])%>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :password, class: "label" %>
    <div class="control">
      <%= form.text_field :password, id: :league_password,
                          class: "input is-small", disabled:true, value:""%>
    </div>
  </div>

  <div class="field">
      <div class="control">
      <%= form.hidden_field :commissioner_id, value: current_user.id,
      class:"input"%>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.label :start_date, class: "label"%>
      <%= form.date_field :start_date, id: :league_start_date, min: Date.today,
      prompt: {hour: true}, class:"input"%>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.label :duration, class: "label" %>
      <div class="select is-small">
        <select class="" name="duration">
          <option value="1">1 Day</option>
          <option value="7">7 Days</option>
          <option value="14">14 Days</option>
          <option value="30">30 Days</option>
          <option value="90">90 Days</option>
          <option value="365">365 Days</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.label :Late_Joiners, class: "label" %>
      <div class="select is-small">
        <select class="" name="">
          <option value="1">Disallow</option>
          <option value="7">Allow</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit class:"button is-info is-inverted is-outlined" %>
    </div>
    <div class="control">
      <%= button_tag "Reset", type: :reset, class:"button is-info is-inverted
        is-outlined" %>
    </div>
  </div>

<% end %>
