<div class="box">
  <div class="columns">
    <div class="column is-narrow">
      <div class="box">

<%= form_with(model: league, local: true) do |form| %>
  <% if league.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(league.errors.count, "error") %> prohibited this league from being saved:</h2>

      <ul>
      <% league.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :id, id: params["id"] %>
  </div>

  <div class="field">
    <%= form.label :game_mode, class: "label" %>
    <div class="control">
      <div class="select is-small">
        <select name="game_mode" id="league_game_mode" readonly=true>
          <option selected="selected" id="slugfest-gm" value="slugfest">Slugfest</option>
          <option id="bare-knuckle-gm" value="bare-knuckle">Bare Knuckle</option>
        </select>
      </div>
    </div>
  </div>

  <%= form.label :name, class: "label" %>
  <div class="field has-addons">
    <div class="control">
      <%= form.text_field :name, id: :league_name, class: "input is-small", required: true %>
    </div>
    <div class="control">
      <a class="button is-static is-small">
        League
      </a>
    </div>
  </div>

  <div class="field">
    <%= form.label :entry_fee, class: "label" %>
    <div class="control">
      <div class="select is-small">
        <select class="" name="entry_fee" disabled=true id="league_entry_fee">
          <%= options_for_select(['Free', 1], ['Paid', 2])%>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :prize, class: "label" %>
    <div class="control">
      <div class="select is-small">
        <select class="" name="prize" disabled=true id="league_prize">
          <%= options_for_select(['Bragging Rights', 1], ['XP', 2])%>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :community, class: "label" %>
    <div class="control">
      <div class="select is-small">
        <select name="community" id="league_community">
          <%= options_for_select(['Public', 'Private'])%>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :password, class: "label" %>
    <p class="help">(Case-insensitive)</p>
    <div class="control">
      <%= form.text_field :password, id: :league_password,
                          class: "input is-small", value:"", readonly: true%>
    </div>
  </div>

  <div class="field">
      <div class="control">
      <%= form.hidden_field :commissioner_id, value: current_user.id,
      class:"input"%>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.label :start_date, class: "label"%>
      <%= form.date_field :start_date, id: :league_start_date, min: Date.today,
      prompt: {hour: true}, class:"input", required:true%>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.label :duration, class: "label" %>
      <div class="select is-small">
        <select class="" name="duration" id="league_duration">
          <option value="1" id="day-1-option">
            1 Day (1round)
          </option>
          <option value="6"  id="days-6-option">
            6 Days (3rounds-- 1r/2 days)
          </option>
          <option value="12"  id="days-12-option">
            12 Days (3rounds-- 1r/4 days)
          </option>
          <option value="28"  id="days-28-option">
            28 Days (4rounds-- 1r/7 days)
          </option>
          <option value="84" id="days-84-option">
            84 Days (6rounds-- 1r/14 days)
          </option>
          <option value="360" id="days-360-option">
            360 Days(12rounds-- 1r/30 days)
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.label :late_joiners, class: "label" %>
      <p class="help">(1 round grace period)</p>
      <div class="select is-small">
        <select class="" name="late_join" id="league_late_joiners">
          <option value="true">Allow</option>
          <option value="false">Disallow</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit class:"button is-info is-inverted is-outlined" %>
    </div>
    <div class="control">
      <%= button_tag "Reset", type: :reset, class:"button is-info is-inverted
        is-outlined" %>
    </div>
  </div>

<% end %>
      </div>
    </div>

<div class="column">
<div class="box">
  <div class="field">
    <h2 class="title is-5">Game Modes Info</h2>
    <dl class="list">
      <dt>Slugfest</dt>
      <dd class="help">
        Round base trading competition with fistfights and leverage.
        <%= link_to 'Learn More', about_path(anchor: 'modes-about'),  target:'blank'%>
      </dd>
      <dt>Bare Kunckle</dt>
      <dd class="help">
        Trading competition without any rounds, fistfights, or leverages.
      </dd>
    </dl>
  </div>
  <div class="field">
  </div>
</div>
</div>
</div>
</div>
