<% if !@league.active? %>
  <section class="hero is-small is-black">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Game Over
        </h1>
        <h2 class="subtitle">
          <p>League play has concluded.
          </p>
        </h2>
      </div>
    </div>
  </section>
<% elsif @league.start_date.future?%>
  <section class="hero is-small is-black">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          League Locked
        </h1>
        <h2 class="subtitle">
          <p><%= @league.name %> league will begin on
            <%= local_time @league.start_date, format: '%b %e, %Y %l:%M%P'%>
          </p>
        </h2>
      </div>
    </div>
  </section>
<% end %>

<div class="columns is-centered is-tablet">
  <div class="column">
    <div class="box">
      <h2 class="title is-4 center">
        <% league_type_btn = @league.private? ? 'join-private-btn' : 'join-btn' %>
        <%= @league.name %> League
        <% if @league.round < 2 && @league.late_join?%>
          <button type="button" name="button" data-id="<%= @league.id %>"
                  data-name="<%= @league.name %>"
                  class="button is-rounded <%= league_type_btn %>">
          Join</button>
        <% elsif @league.start_date.future?%>
          <button type="button" name="button"
                  class="button is-rounded <%= league_type_btn %>">
          Join</button>
        <% end %>
      </h2>
    </div>
  </div>
</div>

<div class="columns is-centered is-tablet">
  <div class="column is-4">
    <div class="box">
      <h2 class="title is-5 center" id="league-info" data-leagueid = "<%=@league.id%>" data-userid = "<%=current_user.id%>">
        League Info
      </h2>
      <p class="content">
        <dl>
          <dt><strong>Commissioner:</strong></dt>
          <dd> <%= link_to User.find(@league.commissioner_id).name,
                            user_path(User.find(@league.commissioner_id).id)%>
          </dd>
          <dt><strong>Entry fee:</strong></dt>
          <dd><%= @league.entry_fee %>
          <dt><strong>Player Count:</strong></dt>
          <dd><%= @league.users.count %>
          <dt><strong>Start date:</strong></dt>
          <dd>
            <%= local_time @league.start_date, format: '%b %e, %Y %l:%M%P'  %>
          </dd>
          <dt><strong>End date:</strong></dt>
          <dd>
            <%= local_time @league.end_date, format: '%b %e, %Y %l:%M%P'  %>
          </dd>
          <dt><strong>Round:</strong></dt>
          <dd><%= @league.round %> of <%= @league.rounds %></dd>
          <dt><strong>Round Ends:</strong></dt>
          <dd>
              <%= local_time @league.round_end, format: '%b %e, %Y %l:%M%P'  %>
          </dd>
        </dl>
      </p>
    </div>
  </div>

  <% if @league.start_date.past?%>
    <div class="column is-4">
      <div class="box">
        <h2 class="title is-5 -title center">Fistfights</h2>
        <table class="table is-striped">
          <thead>
            <tr>
              <th>Attacker</th>
              <th></th>
              <th>Defender</th>
              <th>Round</th>
            </tr>
          </thead>
          <tbody>
            <%  fistfights = @league.fistfights.order(id: :desc).page params[:page] %>
            <%  fistfights.each do |ff| %>
              <% @ffa_results = nil %>
              <% @attacker = nil %>
              <% @league_attacker = nil %>
              <% @ffd_results = nil %>
              <% @defender = nil %>
              <% @league_defender = nil %>
              <% users_performance.each do |hash| %>
                  <% if ff.attacker.user_id == hash[:id] %>
                    <% @ffa_results = hash[:fistfight] %>
                    <% @attacker = hash[:user] %>
                    <% @league_attacker = hash[:league_user]  %>
                  <% end %>
                  <% if ff.defender.user_id == hash[:id] %>
                    <% @ffd_results = hash[:fistfight] %>
                    <% @defender = hash[:user] %>
                    <% @league_defender = hash[:league_user] %>
                  <% end %>
                  <% break if @ffa_results && @ffd_results %>
              <% end %>
              <tr>
                <td>
                  <% if @league_attacker.alive%>
                    <%= link_to @attacker.name,
                                user_path(@attacker.id) %>
                  <% else %>
                    <%= link_to @attacker.name,
                                user_path(@attacker.id),
                                class: 'ko'%>
                  <% end %>
          <%= ff.active? ? "(#{@ffa_results}%)" : "(#{ff.attacker_performance}%)"%>
                </td>
                <td>vs.</td>
                <td>
                  <% if @league_defender.alive%>
                    <%= link_to @defender.name,
                                user_path(@defender.id) %>
                  <% else %>
                    <%= link_to @defender.name,
                                user_path(@defender.id),
                                class: 'ko' %>
                  <% end %>
          <%= ff.active? ? "(#{@ffd_results}%)" : "(#{ff.defender_performance}%)"%>
                </td>
                <td><%=ff.round%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate fistfights %>

        <%if @league.fistfights.count == 0  %>
          <p class="content">
              There are no past or active Fistfights.
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<% if flash[:reset_funds]%>
<div class="notification">
  <p class="notice center">
    <%= flash[:reset_funds] %>
   <%= link_to "Yes", reset_path(@league), method: :post,
                class:"button is-rounded is-danger is-small"%>
   <%= link_to "No", league_path(@league),
                class:"button is-rounded  is-inverted is-small"%>
  </p>
</div>
<% end %>

<p class="notice center">
  <% if flash[:request_leave]%>
  <div class="notification">
    <p class="notice center">
    <%= flash[:request_leave] %>
    <%=  link_to "Yes",
                  leave_path(id:@league.id, pid: current_user.id ),
                  class:"button  is-rounded is-danger is-small",
                    method: :delete%>
   <%= link_to "No", league_path(league:@league.id),
                class:"button is-rounded  is-inverted is-small"%>
    </p>
  </div>
  <% end %>

<% if @league.start_date.past?%>
  <div class="columns is-centered is-tablet">
    <div class="column is-8">
      <div class="box">
        <h2 class="title is-5 center center">Leaderboards</h2>
          <table class="table is-striped is-fullwidth">
            <thead>
              <th>Rank</th>
              <th>Player</th>
              <th>Score</th>
            </thead>
            <tfoot>
              <th>Rank</th>
              <th>Player</th>
              <th>Score</th>
            </tfoot>
            <tbody>
              <% league_users = LeagueUser.where(alive:true, league_id: @league.id).order(:rank).page params[:leaderboards] %>
              <% league_users.each_with_index do |league_user, i| %>
                <% user = User.find league_user.user_id %>
                <tr>
                  <td>
                    <% if league_user.rank > 0%>
                      <%= league_user.rank %>
                    <% elsif league_user.rank < 0%>
                      <%= "KO'd" %>
                    <% else%>
                      <%= "Unranked" %>
                    <% end %>
                  </td>
                  <td>
                    <% if league_user.alive %>
                      <%= link_to(user.name, user_path(user.id)) %>
                    <% else %>
                      <%= link_to(user.name, user_path(user.id),
                                                  class: 'ko') %>
                    <% end %>

                  </td>
                  <td>
                  <%= number_with_delimiter league_user.score%>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate league_users, :param_name => "leaderboards" %>
      </div>
    </div>
  </div>
<% end %>


<div class="modal confirmation-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <div class="columns">
        <div class="column is-narrow">
          <div class="box">
            <div class="public_league">
              <p class="title is-5">Confirmation</p>
              <p class="content confirmation-message">
                Are you sure you want to join <%= @league.name%> league?
              </p>
              <%= link_to('Yes', league_path(@league.id),
                                  class:'button confirmation-action') %>
              <button type="button" class="button cancel-modal">No</button>
            </div>

            <div class="private_form">
              <p class="title is-5">Password Protected</p>

              <p class="content private_league_message">
                The <%= @league.name %> league requires a password to join.
              </p>
              <%= form_tag(join_path(@league.id), method: "post",
                                      :class => "join-form") do %>
              <div class="field">
                <%= label_tag :password, 'Password:'%>
                <div class="control">
                  <%= text_field_tag "password", nil, class:'input', required: true %>
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <%= submit_tag "Join", class: 'button' %>
                </div>
                <div class="control">
                  <button type="button" name="button"
                  class="button private_cancel">
                    Cancel
                  </button>
                </div>
              </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
