<% if @league_user.champ %>
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Game Over
        </h1>
        <h2 class="subtitle">
          Congratulations! You are the <%= @league.name %> League Champion.
      </div>
    </div>
  </section>
<% elsif !@league_user.alive%>
  <section class="hero is-small is-warning">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Game Over
        </h1>
        <h2 class="subtitle">
          You have been knocked out of the <%= @league.name %> league.
        </h2>
      </div>
    </div>
  </section>
<% elsif !@league.active? %>
  <section class="hero is-small is-black">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Game Over
        </h1>
        <h2 class="subtitle">
          <p>League play has concluded.
          </p>
        </h2>
      </div>
    </div>
  </section>
<% elsif @league.start_date.future?%>
  <section class="hero is-small is-black">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          League Locked
        </h1>
        <h2 class="subtitle">
          <p>The <%= @league.name %> league will begin on
            <%= local_time @league.start_date, format: '%b %e, %Y %l:%M%P'%>
          </p>
        </h2>
      </div>
    </div>
  </section>
<% end %>

<div class="columns">
  <div class="column">
    <div class="box">
      <h1 class="title is-4 center">
        <%= @league.name %> League
      </h1>
      <% if @league.start_date.past?%>
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Rank</p>
              <p class="title ">
                <% if @users_stats[@league_user][:rank] > 0%>
                  <%= @users_stats[@league_user][:rank]%>
                <% elsif @league_user.rank < 0%>
                  <%= "KO'd" %>
                <% else%>
                  <%= "Unranked" %>
                <% end %>
              </p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Score</p>
              <p class="title ">
              <%= number_with_delimiter @users_stats[@league_user][:score]%>
            </p>
            </div>
          </div>
          <% if @league.mode == 'Slugfest' %>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Portfolio</p>
                <p class="title ">
                  <%= number_to_currency @users_stats[@league_user][:cash]%>
                </p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Net Bonus</p>
                <p class="title ">
                  <%= number_with_delimiter @league_user.net_bonus %>
                </p>
              </div>
            </div>
          <% end %>
        </nav>
      <% end %>
      <% if @league.start_date.past?%>
          <% @league.exchanges.each do |x|%>
            <%= link_to "Trade @ #{x.name}X", trade_path(@league.id, x.id, p:
            'ETH-BTC'), class:"button is-medium is-fullwidth",
            data: { turbolinks: false }%>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="columns is-multiline is-centered">
  <div class="column is-3">
    <div class="box league_info_box">
      <h2 class="title is-4 center" id="league-info" data-leagueid = "<%=@league.id%>" data-userid = "<%=current_user.id%>">
        League Info
      </h2>
      <p class="content">
        <dl>
          <dt class="white">Commissioner:</dt>
          <dd> <%= link_to User.find(@league.commissioner_id).name,
                            user_path(User.find(@league.commissioner_id).id)%>
          </dd>
          <dt class="white">Game Mode:</dt>
          <dd><%= @league.mode %></dd>
          <dt class="white">Entry fee:</dt>
          <dd><%= @league.entry_fee %></dd>
          <dt class="white">Player Count:</dt>
          <dd><%= @league.users.count %></dd>
          <dt class="white">Start date:</dt>
          <dd>
            <%= local_time @league.start_date, format: '%b %e, %Y %l:%M%P'  %>
          </dd>
          <dt class="white">End date:</dt>
          <dd>
            <%= local_time @league.end_date, format: '%b %e, %Y %l:%M%P'  %>
          </dd>
          <dt class="white">Round:</dt>
          <dd><%= @league.round %> of <%= @league.rounds %></dd>
          <dt class="white">Round Ends:</dt>
          <dd>
              <%= local_time @league.round_end, format: '%b %e, %Y %l:%M%P'  %>
          </dd>
          <dt class="white">Swing Deadline:</dt>
          <dd>
            <%= local_time @league.swing_by, format: '%b %e, %Y %l:%M%P'   %>
          </dd>
          <% if @league.private? %>
            <dt class="white">Password:</dt>
            <dd>
              <%= @league.password  %>
            </dd>
          <% end %>
        </dl>
        <button class="button is-rounded is-small " type="button"
                data-toggle="collapse" data-target="#collapseSettting"
                aria-expanded="false" aria-controls="collapseSettting">
                League Settings
        </button>
        <div class="collapse" id="collapseSettting">
        <% if @league_user.blocks > 0%>
          <button type="button"
          class="button is-success activate-auto-shield is-small">
            Activate Auto-Shield
          </button>
        <% end %>
        <% if @league.id == 1 %>
          <button type="button" class="button reset is-danger is-small">
            Reset Funds
          </button>
        <% else %>
          <% if @league.start_date.future?  %>
            <button type="button" name="button" id="leave-btn"
            class="button is-danger is-small">
              Leave League
            </button>
          <% end %>
        <% end %>
        </div>
      </p>
    </div>
  </div>
<% if @league.mode == 'Slugfest' %>
  <div class="column is-9 is-5-desktop is-half">
    <div class="box fistfight-box">
      <h2 class="title is-4 -title center" id="fistfights-title">Fistfights</h2>
      <% if @league.fistfights.count > 0%>
      <div class="fistfights-table">
        <table class="table is-striped is-fullwidth is-narrow">
          <thead>
            <tr>
              <th>Attacker</th>
              <th></th>
              <th>Defender</th>
              <th>Round</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Attacker</th>
              <th></th>
              <th>Defender</th>
              <th>Round</th>
            </tr>
          </tfoot>
          <tbody>
            <%  @league.fistfights.order(id: :desc).each do |ff| %>
              <% league_attacker = LeagueUser.find ff.attacker_id %>
              <% attacker        = @users_stats[league_attacker][:user] %>
              <% ffa_results     = @users_stats[league_attacker][:performance] %>
              <% league_defender = LeagueUser.find ff.defender_id %>
              <% defender        = @users_stats[league_defender][:user] %>
              <% ffd_results     = @users_stats[league_defender][:performance] %>
              <tr>
                <td>
                  <% if league_attacker.alive?%>
                    <%= link_to attacker.name,
                                user_path(attacker.id) %>
                  <% else %>
                    <%= link_to attacker.name,
                                user_path(attacker.id),
                                class: 'ko'%>
                  <% end %>
          <%= ff.active? ? "(#{ffa_results}%)" : "(#{ff.attacker_performance}%)"%>
                </td>
                <td>vs.</td>
                <td>
                  <% if league_defender.alive?%>
                    <%= link_to defender.name,
                                user_path(defender.id) %>
                  <% else %>
                    <%= link_to defender.name,
                                user_path(defender.id),
                                class: 'ko' %>
                  <% end %>
          <%= ff.active? ? "(#{ffd_results}%)" : "(#{ff.defender_performance}%)"%>
                </td>
                <td><%=ff.round%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%else%>
        <p class="content">
            There are no past or active Fistfights.
        </p>
      <% end %>
    </div>
  </div>

    <div class="column is-12 is-3-desktop">
      <div class="box actions-box">
        <h2 class="title is-4 center" id="actions-title">Actions</h2>
          <div class="tags has-addons">
            <span class="tag  type-action is-dark margin-left">Shield</span>
            <span class="tag  count-action is-light">
              x<%=@league_user.blocks%>
            </span>
            <span class="tag  status-action margin-right <%= @league_user.shield? ? 'is-info' : 'is-warning'%>">
              <%= @league_user.shield? ? 'Active' : 'Inactive' %>
            </span>
          </div>
          <div class="tags has-addons">
            <span class="tag  is-dark margin-left">Auto Shield</span>
            <span class="tag  margin-right <%= @league_user.auto_shield? ? 'is-info' : 'is-warning'%>">
              <%= @league_user.auto_shield? ? 'Active' : 'Inactive' %>
            </span>
          </div>
          <% if @league_user.shield?%>
            <p class="content">
              While the shield is active you will not participate in any
              additional fistfights this round.
            </p>
          <% end %>
          <% if @league_user.blocks > 0 && !@league_user.shield? %>
            <button type="button"
            class="button is-samll is-rounded activate-shield is-small">
              Activate Shield
            </button>
          <% end %>
          <hr>
          <% user_bet = Bet.find_by league_user: @league_user.id%>
          <% if user_bet %>
            <div class="tags has-addons">
              <span class="tag  is-dark type-action margin-left">Leverage</span>
              <span class="tag  count-action is-light">
                x0
              </span>
              <span class="tag  status-action margin-right <%= user_bet.active? ? 'is-info':'is-warning'%>">
                <%= user_bet.active? ? 'Active' : 'Inactive' %>
              </span>
            </div>
            <% leverage = Leverage.find @league_user.bets.last.leverage_id %>
            <dl>
              <dt><strong>Size:</strong></dt>
              <dd><%= leverage.size %>x</dd>
              <dt><strong>Baseline:</strong></dt>
              <dd><%= number_to_currency @league_user.bets.last.baseline%></dd>
              <dt><strong>Liquidation trigger: </strong></dt>
              <dd></strong><%= number_to_currency @league_user.bets.last.liquidation %></dd>
              <dt><strong>Current Results:</strong></dt>
              <dd>
                <% net_bonus = (@users_stats[@league_user][:cash] - @league_user.bets.last.baseline) * (leverage.size - 1 ) %>
                <%=number_with_delimiter net_bonus.abs%>
                <% if net_bonus >= 0%>
                  Bonus
                <% else %>
                  Penalty
                <% end %>
              </dd>
            </dl>
            <% if user_bet.active? %>
              <button class="button is-rounded  deleverage-btn">Deleverage
              </button>
            <% end %>
          <% else %>
                  <div class="tags has-addons">
                    <span class="tag  margin-left type-action is-dark">
                      Leverage
                    </span>
                    <span class="tag  count-action is-light">
                      x1
                    </span>
                    <span class="tag  status-action margin-right is-warning">Inactive</span>
                  </div>
                  <div class="select">
                    <select name="leverage_size" value="leverage_size" data-currentuser=""
                    class="leverage-size">
                      <% Leverage.all.each do |leverage| %>
                        <option value="<%= leverage.size%>">
                          <%= "#{leverage.size}x" %>
                        </option>
                      <% end %>
                    </select>
                  </div>
                  <button type="button" class="button  is-small is-rounded activate-leverage">
                    Activate Leverage
                  </button>
          <% end %>
      </div>
    </div>
<% end %>
    <div class="column">
      <div class="box leaderboards-box">
        <% league_users = LeagueUser.where(alive:true, league_id: @league.id).order(:rank).page params[:leaderboards] %>
        <h2 class="title is-4 center" id="leaderboards-title">Leaderboards</h2>
          <table class="table is-fullwidth is-striped">
            <thead>
              <th>Rank</th>
              <th>Player</th>
              <th>Score</th>
              <th>Swing</th>
            </thead>
            <tfoot>
              <th>Rank</th>
              <th>Player</th>
              <th>Score</th>
              <th>Swing</th>
            </tfoot>
            <tbody>
              <% @users_stats.each_with_index do |hash, i| %>
                <% league_user = hash[0] %>
                <% stats       = hash[1] %>
                <% next unless league_user.alive? %>
                <% user = stats[:user] %>
                <tr>
                  <td><%= stats[:rank]%></td>
                  <td><%= link_to user.name, user_path(user.id)  %></td>
                  <td>
                    <%= number_with_delimiter  stats[:score] %>
                  </td>
                  <td>
                    <% if current_user.id != user.id %>
                      <% if league_user.shield? %>
                        <i class="fa fa-shield fa-3x" aria-hidden="true"></i>
                      <% else %>
                      <%= fist_image = image_tag("hm_fist_2.svg", alt:'Fist', class:'fist',
                        :'data-userid' => user.id, :'data-username' => user.name,
                        id:"fist#{i}") %>
                      <% end %>
                    <% else %>
                      <% if league_user.shield? %>
                        <i class="fa fa-shield fa-3x" aria-hidden="true"></i>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
</div>

<div class="modal confirmation-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <div class="columns">
        <div class="column is-narrow">
          <div class="box">
            <p class="title is-5">Confirmation</p>
            <p class="content confirmation-message notice">
            </p>
            <%= link_to('Yes', league_path(@league),
                                        class:'button confirmation-action') %>
            <button type="button" class="button is-text cancel-modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
