
<div class="columns is-centered">
  <div class="column is-10">
    <div class="box">
      <div class="tabs is-centered is-fullwidth">
        <ul>
          <li class='is-active'><%= link_to 'Future Leagues', leagues_path%>
          </li>
          <li><%= link_to 'Current Leagues', current_leagues_path%></li>
          <li><%= link_to 'Past Leagues', past_leagues_path %> </li>
        </ul>
      </div>
        <table class= 'table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Commissioner</th>
              <th>Game Mode</th>
              <th>Start date</th>
              <th>Rounds</th>
              <th>status</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Commissioner</th>
              <th>Game Mode</th>
              <th>Start date</th>
              <th>Rounds</th>
              <th>status</th>
            </tr>
          </tfoot>

          <tbody>
            <% @leagues.each do |league| %>
              <% next if league.start_date.past? || !league.active? %>
              <tr>
                <td>
                  <%=link_to league.name, league_path(league.id) %>
                </td>
                <td>
                    <%= link_to User.find(league.commissioner_id).name,
                                user_path(User.find(league.commissioner_id).id)%>
                </td>
                <td><%= league.mode %></td>
                <td>
                  <%= league.start_date.strftime("%m/%d/%y %I:%M%p").downcase %>
                </td>
                <td><%= league.rounds %></td>

                <td>
                    <% if !current_user.leagues.any? { |l| l.id == league.id }
                    %>
                      Open
                    <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <%= link_to 'New League', new_league_path, class: 'button'%>
    </div>
  </div>
</div>


<div class="modal confirmation-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <div class="columns">
        <div class="column is-narrow">
          <div class="box">
            <div class="public_league">
              <p class="title is-5">Confirmation</p>
              <p class="content confirmation-message">
              </p>
              <%= link_to('Yes', leagues_path, class:'button confirmation-action') %>
              <button type="button" class="button cancel-modal">No</button>
            </div>

            <div class="private_form">
              <p class="title is-5">Password Protected</p>

              <p class="content private_league_message">
                This league is private and requires a password to join.
              </p>
              <%= form_tag(join_path(8), method: "post",
                                      :class => "join-form") do %>
              <div class="field">
                <%= label_tag :password, 'Password:'%>
                <div class="control">
                  <%= text_field_tag "password", nil, class:'input', required: true %>
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <%= submit_tag "Join", class: 'button' %>
                </div>
                <div class="control">
                  <button type="button" name="button"
                  class="button private_cancel">
                    Cancel
                  </button>
                </div>
              </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
