<p id="notice"><%= flash[:notice] %></p>

<h1 class="index_title">Leagues</h1>

<table class= 'index'>
  <thead>
    <tr>
      <th class="index_titles">Name</th>
      <th class="index_titles">Entry fee</th>
      <th class="index_titles">Start date</th>
      <th class="index_titles">End date</th>
      <th class="index_titles">Rounds</th>
      <th class="index_titles">Mode</th>
      <th class="index_titles">Players</th>
      <th class="index_titles">Exchanges</th>
      <th class="index_titles">Commissioner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td class="index_values">
          <%=link_to league.name, league_path(league.id) %>                 
        </td>
        <td class="index_values"><%= league.entry_fee %></td>
        <td class="index_values"><%= league.start_date %></td>
        <td class="index_values"><%= league.end_date %></td>
        <td class="index_values"><%= league.rounds %></td>
        <td class="index_values"><%= league.mode %></td>
        <td class="index_values"><%= league.players.count %></td>
        <td class="index_values"><%= league.exchanges.count %></td>
        <td class="index_values">
            <%= link_to Player.find(league.player_id).username, 
                        player_path(Player.find(league.player_id).id)%>
        </td>

        <td class="index_values join_league">
          <%= link_to "Join", join_path(league: league.id), method: :post %>
        </td>
        <td class="index_values"><%= link_to 'Show', league %></td>
        <td class="index_values"><%= link_to 'Edit', edit_league_path(league) %></td>
        <td class="index_values"><%= link_to 'Destroy', league, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New League', new_league_path %>
