<div class="columns is-centered">
  <div class="column  is-half is-narrow">
    <div class="box">
      <h2 class="title is-5 center"><%= @league.name %> League Leverage</h2>
      <%= form_tag(request_bet_path(@league), method: :get) do %>
        <div class="select">
          <select name="leverage_size" value="leverage_size">
            <% Leverage.all.each do |leverage| %>
              <option value="<%= leverage.size%>">
                <%= "#{leverage.size}x" %>
              </option>
            <% end %>
          </select>
        </div>
        <%= submit_tag("Active Leverage", class: 'button is-black' )%>
      <% end %>
      <% if flash[:bet] %>
        <%= flash[:bet] %>
        <%= link_to 'Yes', bet_path(@league, params[:size]), class: 'button is-info', method: :post%>
        <%= link_to 'No', leverage_path(@league), class: 'button is-text'%>
      <% end %>
    </div>
  </div>
</div>

<div class="columns is-centered">
  <div class="column  is-half is-narrow">
    <div class="box">
      <h2 class="title is-5">Leverage Information</h2>
      <h3 class="title is-6">What is the leverage? </h3>
      <p class="content">
        By leveraging, you
        make a bet on your entire portfolio. At the end of the bet, you will
        either receive a leverage bonus for a correct prediction or a leverage
        penalty for an incorrect prediction.
      </p>

      <p class="content">
        <h3 class="title is-6">What is the bet? </h3>
        <ol>
          <li class="content">Your portfolio will increase in value before the
            league ends.
          </li>
          <li class="content">Your portfolio will not fall to or below the
            liquidation point.
          </li>
        </ol>
      </p>
      <p class="content">The system liquidates accounts every 30 minutes . So
      if this does occur, you may receive a tiny grace period to improve
      your portfolio. If by the end of the grace period the value of
      your portfolio is at or below the liquidation point, you will be
      knocked out of the league.</p>
      <p class="content">
        <h3 class="title is-6">When does the bet end? </h3>

        <p class="content">The bet ends if any of the following scenarios
        occur:</p>
        <ol>
          <li>
            You click the deleverage button located within the league’s
            homepage
          </li>
          <li>
            Your portfolio falls to or below the liquidation point AND
            it stays at or below the liquidation point beyond the grace period.
          </li>
          <li>
            The current round ends
          </li>
        </ol>
      </p>
      <p class="content">
        <h3 class="title is-6">How is the penalty/bonus calculated?</h3>
        At the start of the bet the current value of your portfolio will be
        used to generate a baseline value. At the end of the bet, the current
        value of your portfolio will be used to generate a post value. The
        percentage difference will be used to calculate your bonus/penalty.
        View the chart below for examples.
      </p>
      <p class="content">
        <h3 class="title is-6">How is the liquidation point calculated? </h3>

        At the start of the bet the current value of your portfolio will be used
        to gather a baseline. This baseline and the leverage type will determine
        the liquidation point. See the table below for the general liquidation
        trigger points. The calculator will provide precise liquidation trigger
        points based on the current value of your portfolio.
      </p>
      <p class="content">
      </p>
      <p class="content">
      </p>
      <p class="content">
      </p>
      <p class="content">
      </p>
      <p class="content">
      </p>
      <p class="content">
      </p>
      <p class="content">
      </p>
    </div>
  </div>
  <div class="column is-narrow">
    <div class="box">
      <h2 class="title is-5">Liquidation Rates</h2>
      <table class='table is-striped is-fullwidth'>
        <thead>
          <th>Leverage</th>
          <th>Liquidation Trigger</th>
        </thead>

        <tbody>
          <% Leverage.all.each do |leverage|  %>
          <tr>
            <td><%= leverage.size %>x</td>
            <td>-<%= leverage.liquidation * 100 %>%</td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <button class="button liquidation-calculator"> Liquidation Calculator
      </button>
    </div>
  </div>
</div>


<div class="modal liquidation-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <div class="columns">
  <div class="column is-narrow">
    <div class="box">
      <p class="title is-5">Leverage</p>
      <div class="control">
        <div class="select">
          <select class="leverage_options">
            <% Leverage.all.each do |leverage| %>
              <option data-leverage="<%= leverage.size%>"
                data-trigger="<%= leverage.liquidation %>">
                <%= " (#{leverage.size}x)" %>
              </option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <div class="field">
        <label class="label">Current Portfolio Value</label>
        <div class="control">
          <input class="input is-static portfolio_value" type="text"
          value="<%=portfolio_value(@league_user) %>" readonly>
        </div>
      </div>
      <div class="field">
        <label class="label">Liquidation Trigger</label>
        <div class="control">
          <input class="input is-static liquidation" type="text"
          value=""
          readonly>
        </div>
        <p class="help">
          * Liquidation occurs if your portfolio  falls to or below this value.
        </p>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>


<div class="columns">
  <div class="column">
    <div class="box">
      <h2 class="title is-5">Bonus/Penalty Examples</h2>
      <table class="table is-striped">
        <thead>
          <th>Leverage</th>
          <th>Baseline</th>
          <th>Post Value</th>
          <th>Bonus/Penalty</th>
          <th>Total Points</th>
        </thead>
        <tbody>
          <% Leverage.all.each do |leverage|  %>
            <% next unless leverage.size == 2 || leverage.size == 100%>
            <tr>
              <td><%= leverage.size %>x</td>
              <td><%= number_to_currency 100  %></td>
              <td><%= number_to_currency 101 %></td>
              <td><%=(leverage.size * 1) - 1%> Bonus</td>
              <td><%= number_with_delimiter (100 + (leverage.size * 1))%></td>
            </tr>
            <tr>
              <td><%= leverage.size.to_f %>x</td>
              <td><%= number_to_currency 100 %></td>
              <td><%= number_to_currency 150 %></td>
              <td><%=(leverage.size * 50) - 50%> Bonus</td>
              <td><%= number_with_delimiter (100 + (leverage.size * 50))%></td>
            </tr>
            <tr>
              <td><%= leverage.size.to_f %>x</td>
              <td><%= number_to_currency 100  %></td>
              <td><%= number_to_currency 99 %></td>
              <td><%= penalty = (leverage.size * 1) - 1%> Penalty</td>
              <td><%=number_with_delimiter (100 - (leverage.size * 1))%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
