<div class="columns is-centered">
  <div class="column is-10">
    <div class="box">
      <div class="tabs is-centered is-fullwidth">
        <ul>
          <li><%= link_to 'Future Leagues', leagues_path %></li>
          <li><%= link_to 'Current Leagues', current_leagues_path %></li>
          <li class='is-active'><%= link_to 'Past Leagues', past_leagues_path%>
          </li>
        </ul>
      </div>
        <table class= 'table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Commissioner</th>
              <th>Game Mode</th>
              <th>Start date</th>
              <th>Rounds</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Commissioner</th>
              <th>Game Mode</th>
              <th>Start date</th>
              <th>Rounds</th>
            </tr>
          </tfoot>

          <tbody>
            <% @leagues.each do |league| %>
              <% next if league.active?%>
              <tr>
                <td>
                  <%=link_to league.name, league_path(league.id) %>
                </td>
                <td>
                    <%= link_to User.find(league.commissioner_id).name,
                                user_path(User.find(league.commissioner_id).id)%>
                </td>
                <td><%= league.mode %></td>
                <td>
                  <%= league.start_date.strftime("%m/%d/%y %I:%M%p").downcase %>
                </td>
                <td><%= league.rounds %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <%= link_to 'New League', new_league_path, class: 'button'%>
    </div>
  </div>
</div>
