<header class="card-header">
  <p class="card-header-title is-centered">
    <%= @league.name %> League

    <% if @league.id == 1 %>
      <%= link_to "Reset Funds", reset_path(league:@league.id), class:"button
      is-danger is-small"%>
    <% end %>
  </p>
</header>
<div class="card">
  <div class="card-content">
    <div class="content">
      <div class='center'>
        <p class="notice center">
          <% if flash[:reset_funds] &&  %>
            <%= flash[:reset_funds] %>
           <%= link_to "Yes", reset_path(league:@league.id), method: :post %>
           <%= link_to "No", league_path(league:@league.id)%>
        <% end %>
        </p>

        <p>
          <strong>Commissioner:</strong>
          <%= link_to User.find(@league.user_id).name,
                      user_path(User.find(@league.user_id).id)%>
        </p>

        <p>
          <strong>Entry fee:</strong>
          <%= @league.entry_fee %>
        </p>

        <p>
          <strong>Start date:</strong>
          <%= @league.start_date.strftime("%m/%d/%y %I:%M%p").downcase  %>
        </p>

        <p>
          <strong>End date:</strong>
          <%= @league.end_date.strftime("%m/%d/%y %I:%M%p").downcase  %>
        </p>

        <p>
          <strong>Rounds:</strong>
          <%= @league.rounds %>
        </p>
      </div>
    </div>
  </div>
</div>
<footer class="card-footer">
  <% @league.exchanges.each do |x|%>
    <%= link_to "Enter #{x.name}-X", trade_path(@league.id, x.id, p:
    'ETH-BTC'), class:"card-footer-item button is-info",
    data: { turbolinks: false }%>
  <% end %>
</footer>
