<header class="card-header">
  <p class="card-header-title is-centered">
    <%= @league.name %> League
  </p>
</header>
<div class="card">
  <div class="card-content">
    <div class="content">
      <div class='center'>
        <p>
          <strong>Commissioner:</strong>
          <%= link_to User.find(@league.commissioner_id).name,
                      user_path(User.find(@league.commissioner_id).id)%>
        </p>

        <p>
          <strong>Entry fee:</strong>
          <%= @league.entry_fee %>
        </p>

        <p>
          <strong>Start date:</strong>
          <%= @league.start_date.strftime("%m/%d/%y %I:%M%p").downcase  %> UTC
        </p>

        <p>
          <strong>End date:</strong>
          <%= @league.end_date.strftime("%m/%d/%y %I:%M%p").downcase  %> UTC
        </p>

        <p>
          <strong>Rounds:</strong>
          <%= @league.rounds %>
        </p>

        <% unless @league_user.set_up?%>
        <div class="notification">
          <p class="notice">On which exchange would you like your starting
            balance of <%= @league.starting_balance %> BTC to be
            available? This decision is irreversible.
          </p>
          <% @league.exchanges.each_with_index do |exchange, i| %>
            <%= link_to exchange.name,
                        setup_path(id: @league.id,
                                    exchange_starter: exchange.id),
                        method: :post,
                        class:"button is-rounded is-black is-small" %>
            <%unless i == @league.exchanges.count - 1%>
              <span>| |</span>
            <% end %>
          <% end %>
        </div>
        <% end %>

        <% if @league_user.set_up? %>
          <p>
            <button class="button is-black is-small is-rounded" type="button"
                      data-toggle="collapse" data-target="#collapseSettting"
                      aria-expanded="false" aria-controls="collapseSettting">
              League Settings
            </button>
          </p>
          <div class="collapse" id="collapseSettting">
            <div class="card card-body">
              <% if @league.id == 1 %>
                <%= link_to "Reset Funds", reset_path(league:@league.id),
                                        class:"button is-danger is-small"%>
              <% else %>
                <% if @league.start_date.future?  %>
                  <%=  link_to "Leave League",
                                request_leave_path(@league),
                                class:"button is-danger is-small"%>
                <% end %>
              <% end %>


            </div>
          </div>

          <% if flash[:reset_funds]%>
          <div class="notification">
            <p class="notice center">
              <%= flash[:reset_funds] %>
             <%= link_to "Yes", reset_path(@league), method: :post,
                          class:"button is-rounded is-danger is-small"%>
             <%= link_to "No", league_path(@league),
                          class:"button is-rounded is-black is-inverted is-small"%>
            </p>
          </div>
          <% end %>

          <p class="notice center">
            <% if flash[:request_leave]%>
            <div class="notification">
              <p class="notice center">
              <%= flash[:request_leave] %>
              <%=  link_to "Yes",
                            leave_path(id:@league.id, pid: current_user.id ),
                            class:"button  is-rounded is-danger is-small",
                              method: :delete%>
             <%= link_to "No", league_path(league:@league.id),
                          class:"button is-rounded is-black is-inverted is-small"%>
              </p>
            </div>
            <% end %>
        <%end %>

        <br>
        <% if @league.start_date.future? %>
          <p>Trading options will open here on
            <%= @league.start_date.strftime("%m/%d/%y %I:%M%p").downcase %> UTC
          </p>
        <% elsif @league.end_date.past?%>
        <p>The trading window has closed.</p>
        <% end %>
      </div>


    </div>
  </div>
</div>
<% if @league.start_date.past? && @league.end_date.future? %>
  <% if @league_user.set_up? %>
    <div class="card-footer">
      <% @league.exchanges.each do |x|%>
        <%= link_to "Trade @ #{x.name}", trade_path(@league.id, x.id, p:
        'ETH-BTC'), class:"card-footer-item button",
        data: { turbolinks: false }%>
      <% end %>
    </div>
  <% end %>
    <div class="card">
      <div class="card-content">
        <div class="content">
          <h2>Leaderboards</h2>
          <table class="table">
            <thead>
              <tr>
                <td>Player</td>
                <td>Rank</td>
                <td>BTC</td>
              </tr>
            </thead>
            <tbody>
              <% leader_boards(@league).each_with_index do |hash, i| %>
              <% name = hash.keys.first %>
                <tr>
                  <td>
                    <%= link_to name, user_path(User.find_by(name: name)) %>

                  </td>
                  <td><%= i + 1 %></td>
                  <td><%= hash.values.first %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
<% end %>
