<h1>Balances</h1>
<h2><%= @exchange.name %> Exchange</h2>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Deposit Address</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% current_user.wallets.where(exchange_id: params[:xid]).each do |w| %>
          <tr>
            <td> <%= w.coin_type  %> </td>
            <td> <%= w.coin_quantity %> </td>
            <td> <%= w.public_key %> </td>
            <td> <%= link_to 'Withdrawal',
                  withdrawal_path(params[:id], params[:xid], w.coin_type),
                  class: "button is-rounded is-info is-small"
                  %>
            </td>
            <td>
            <%= link_to 'Transaction history',
                transaction_history_path(params[:id], params[:xid], w.coin_type),
                class: "button is-rounded is-info is-inverted is-small"
            %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
