<div class="block_sec" >
<p id='trading_pair'><%= @pair %></p>
<h1 id="exchange" class="center"><%= @exchange.name %></h1>

<div id="balance">
  <p>Balance</p>
  <ul>
    <div>
    <li><span id='coin_0_balance_label'><%= @coin_1_ticker %></span>
        <div class='inline_block_s balance_pair_values_div'>
          <span id="balance_pair_values_0"class="balance_pair_values">
            <%=@coin_1_quantity%></span>
        </div>
      <div id="ao_0" class="ao">
        <span id="after_order_sign_0" class="after_order_sign">-</span> 
        <span id="after_order_value_0" class="after_order_value"></span>
        <span id="ao_equal_sign_0" class="ao_equal_sign">=</span>
        <span id="after_order_total_0" class="after_order_total"></span>
      </div>
    </li>


    <li><span id= 'coin_1_balance_label'><%= @coin_2_ticker %></span>
      <div class='inline_block_s balance_pair_values_div'>
        <span id="balance_pair_values_1" class="balance_pair_values">
         <%=@coin_2_quantity%>
        </span> 
      </div>
      <div id="ao_1" class="ao">
        <span id="after_order_sign_1" class="after_order_sign">+</span>
        <span id="after_order_value_1" class="after_order_value"></span>
        <span id="ao_equal_sign_1" class="ao_equal_sign">=</span>
        <span id="after_order_total_1" class="after_order_total"></span>
      </div>
    </li>
    </div>
  </ul>
</div>
</div>

<div class="block_sec" id= "order_sec">
  <div>
    <div class="center" id= 'buy_sell_btns'>
      <%= button_tag "Buy", id: 'buy_btn', class: 'buy_sell_btns' %>
      <%= button_tag "Sell", id: 'sell_btn', class: 'buy_sell_btns' %>
    </div>
    <span id='price_label'>Price:</span>
    <div id="coin_price" class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
  <span>
    <div>
      <%= form_tag("/order", method: "post", :class => "order_form") do %>
      <%= hidden_field_tag :order_price, "-1", class: 'dynamic_price' %>
      <%= hidden_field_tag :exchange_id, @exchange.id %>
      <%= hidden_field_tag :coin_1_ticker, @coin_1_ticker %>
      <%= hidden_field_tag :coin_2_ticker, @coin_2_ticker %>
      <%= hidden_field_tag :pair, @pair %>
      <%= label_tag :coin_quantity, 'Amount:', id: 'amount_label'%> 
      <%= number_field_tag :coin_quantity, nil, placeholder: 0.0000, step:
      0.00000001,
      min: 0.01, autofocus: 'autofocus'%>
      <span id='inner_input_fixed_text'>BTC</span>
    </div>
    <div id='allocation_box'>
        <span id= "capital_percentage">
          <%= radio_button_tag(:capital_percentage, "25%") %>
          <%= label_tag(:capital_percentage, "25%") %>
          <%= radio_button_tag(:capital_percentage, "50%") %>
          <%= label_tag(:capital_percentage, "50%") %>
          <%= radio_button_tag(:capital_percentage, "75%") %>
          <%= label_tag(:capital_percentage, "75%") %>
          <%= radio_button_tag(:capital_percentage, "100%") %>
          <%= label_tag(:capital_percentage, "100%") %>
        </span>
    </div>
      <div class="center">
        <%= submit_tag "Place Buy Order", id: 'order_btn' %>
      </div>
    <% end %>
  </span>
</div>

<div id='league_info' class='block_sec'>
  <p>League Info</p>
</div>