<div class="wrapper">
  <div class="league_and_exchange_info">
    <h1 id="exchange" class="center"><%= @exchange.name %> Exchange</h1>
    <h2 class="center league_title"><%= League.find(params[:id]).name %> League
    </h2>
  </div>
  <div id="balance_block">
    <p id='trading_pair'><%= @pair %></p>

    <div id="balance">
      <p>Balance</p>
      <ul>
        <div>
        <li><span id= 'coin_1_balance_label'><%= @coin_1_ticker %></span>
          <div class='inline_block_s balance_pair_values_div'>
            <span id="balance_pair_values_1" class="balance_pair_values">
             <%= @coin_1 ? @coin_1.coin_quantity : 0%>
            </span>
          </div>
          <div id="ao_1" class="ao">
            <span id="after_order_sign_1" class="after_order_sign">+</span>
            <span id="after_order_value_1" class="after_order_value"></span>
            <span id="ao_equal_sign_1" class="ao_equal_sign">=</span>
            <span id="after_order_total_1" class="after_order_total"></span>
          </div>
        </li>
        <li><span id='coin_0_balance_label'><%= @coin_2_ticker %></span>
            <div class='inline_block_s balance_pair_values_div'>
              <span id="balance_pair_values_0"class="balance_pair_values">
                <%= @coin_2 ? @coin_2.coin_quantity : 0%></span>
            </div>
          <div id="ao_0" class="ao">
            <span id="after_order_sign_0" class="after_order_sign">-</span>
            <span id="after_order_value_0" class="after_order_value"></span>
            <span id="ao_equal_sign_0" class="ao_equal_sign">≈</span>
            <span id="after_order_total_0" class="after_order_total"></span>
          </div>
        </li>
        </div>
      </ul>
    </div>
  </div>
  <div id= "order_sec">
    <div>
      <div id= 'buy_sell_btns'>
        <%= button_tag "Buy", id: 'buy_btn', class: 'buy_sell_btns' %>
        <%= button_tag "Sell", id: 'sell_btn', class: 'buy_sell_btns' %>
      </div>
      <span id='price_label'>Price</span>
      <div id="coin_price">
        <%= @exchange.tickers.find_by(pair: params[:p]).price%>
      </div>
        <i class="fas fa-arrow-up"></i>
        <i class="fas fa-arrow-down"></i>
    </div>
    <span>
      <div class="field">
        <%= form_tag(order_path(params[:id], params[:xid]), method: "post",
                                :class => "order_form") do %>
          <%= hidden_field_tag :order_price, "-1", class: 'dynamic_price' %>
          <%= hidden_field_tag :pair, params[:p] %>
          <%= hidden_field_tag :coin_1_ticker, @coin_1_ticker %>
          <%= hidden_field_tag :coin_2_ticker, @coin_2_ticker %>
          <%= label_tag :coin_quantity, 'Amount:', id: 'amount_label'%>
          <p class="control has-icons-right">
            <%= number_field_tag :order_quantity, nil, placeholder: 0.0000,
              step: 0.00000001, min: 0.01, autofocus: 'autofocus',
              class: 'input is-small'%>
            <span class="icon is-right">
                <%= @coin_1_ticker %>
            </span>
          </p>
          <div id='allocation_box'>
            <div id= "capital_percentage">
              <%= label_tag(:capital_percentage, "25%", id: 'cap_label_25') %>
              <%= radio_button_tag(:capital_percentage, "25%")%>
              <%= label_tag(:capital_percentage, "50%", id: 'cap_label_50') %>
              <%= radio_button_tag(:capital_percentage, "50%")%>
              <%= label_tag(:capital_percentage, "75%", id: 'cap_label_75') %>
              <%= radio_button_tag(:capital_percentage, "75%")%>
              <%= label_tag(:capital_percentage, "100%", id: 'cap_label_100') %>
              <%= radio_button_tag(:capital_percentage, "100%")%>
            </div>
          </div>
          <%= submit_tag "Place Buy Order", id: 'order_btn'%>
        <% end %>
      </div>
    </span>
  </div>

  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div id="tradingview_7ef5b"></div>
    <div class="tradingview-widget-copyright">
      <a href="https://www.tradingview.com/symbols/COINBASE-BTCUSD/"
        rel="noopener" target="_blank">
            <span class="blue-text"><%=params[:p]%></span>
            <span class="blue-text">chart</span> by TradingView
      </a>
    </div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js">
    </script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "autosize": true,
    "symbol": "<%=Exchange.find(params[:xid]).name.upcase == 'GDAX' ? 'COINBASE' : Exchange.find(params[:xid]).name.upcase%>:<%= strip_dash_from_pair %>",
    "interval": "D",
    "timezone": "Etc/UTC",
    "theme": "Light",
    "style": "1",
    "locale": "en",
    "toolbar_bg": "#f1f3f6",
    "enable_publishing": false,
    "withdateranges": true,
    "hide_side_toolbar": false,
    "allow_symbol_change": true,
    "save_image": false,
    "container_id": "tradingview_7ef5b"
  }
    );
    </script>
  </div>
  <!-- TradingView Widget END -->

  <div class="coin_list_options">
    <div class="buttons has-addons">
      <span class="button has-addons is-info is-outlined">BTC</span>
      <span class="button has-addons is-info is-outlined">ETH</span>
      <span class="button has-addons is-info is-outlined">BNB</span>
      <span class="button has-addons is-info is-outlined">USDT</span>
    </div>
  </div>
  <div class="coin_list_table">
    <table class="table">
      <tbody>
        <% @btc_coin_list.each do |pair| %>
          <tr>
            <td><i class="far fa-star"></i></td>
            <td>
              <%= link_to pair,trade_path(params[:id],
                params[:xid], p: pair) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="orders_sec">
    <p>My Orders</p>
    <div>
      <table class="table is-narrow">
        <thead>
          <tr>
            <th>Type</th>
            <th>size</th>
            <th>price</th>
            <th>fee</th>
            <th>product</th>
            <th>Time</th>
            <th>filled%</th>
          </tr>
        </thead>
        <tbody>
          <% if @wallet %>
            <% @wallet.orders.order('created_at DESC').each do |o| %>
              <tr>
                <td> <%= o.buy ? 'buy' : 'sell' %> </td>
                <td> <%= o.size.to_f.round(8) %> </td>
                <td> <%= o.price.to_f.round(8) %> </td>
                <td> <%= o.fee.to_f %> </td>
                <td> <%= o.product %> </td>
                <td> <%= o.when %> </td>
                <td>100</td>
              </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
