<div class="columns is-centered">
  <div class="column is-8">
    <div class="box">
      <p class="content">
        <%= @user.name %>
        <% if current_user.id == @user.id %>
          <%= link_to ' edit' , edit_user_registration_path(@user)%>
        <% end %>
        <%= @user.created_at.strftime("Join: %F")  %>
      </p>
    </div>
    <div class="box my-leagues-box">
      <h2 class="title is-5 center"><%= @user.name%>'s Leagues</h2>
      <table class="table is-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Commissioner</th>
            <th>Player's Status</th>
            <th>Rank</th>
          </tr>
        </thead>
        <tbody>
          <% @user.leagues.order(:start_date).each do |l| %>
          <% user = LeagueUser.find_by(league_id: l.id, user_id: @user.id) %>
          <% commissioner = User.find(l.commissioner_id) %>
            <tr>
              <td><%= link_to l.name, league_path(l.id) %></td>
              <td><%= link_to commissioner.name, user_path(commissioner.id) %></td>
              <td>
              <% if l.active?%>
                <%= user.alive? ? 'Alive' : 'KO' %>
              <% else %>
                <%= user.champ? ? 'Champion' : 'KO' %>
              <% end %>
              </td>
              <td><%= LeagueUser.find_by(league_id: l.id,
                                          user_id: @user.id).rank %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="columns is-centered">
  <% if current_user.id == @user.id %>
  <div class="column">

    <div class="box invites-box">
      <h2 class="title is-5 center">Leagues Invites Received</h2>
      <div>
        <% if flash[:confirmation] %>
        <div class="notification">
          <p class="notice">
            <%= flash[:confirmation] %>
          </p>
          <%= link_to "Join", join_path(params[:lid]), method: :post,
                      class: "button is-warning is-rounded is-small"%>
          <%= link_to "Cancel",user_path(current_user),
                      class: "button is-rounded is-small"%>
        </div>
        <% end %>
        <table class="table is-striped">
          <thead>
            <tr>
              <th>Requester</th>
              <th>League</th>
              <th>Invite Created</th>
            </tr>
          </thead>
          <tbody>
            <% current_user.received_league_invites.each do |league_invite| %>
              <% next unless league_invite.status == 'pending' %>
                <% user   = User.find league_invite.sender_id  %>
                <% league = League.find league_invite.league_id %>
                <tr>
                  <td><%= link_to user.name, user_path(user.id) %></td>
                  <td><%= link_to league.name, league_path(league.id)%></td>
                  </td>
                  <td><%= league_invite.created_at.strftime("%B %d, %Y") %></td>
                  <td>
                    <%= link_to "Accept", join_path(league_invite.league_id), method: :post,
                                    class: "button is-rounded is-warning is-small"
                    %>
                  </td>
                  <td>
                    <%= link_to 'Decline',
                        decline_league_invite_path(league_invite),
                        class: "button is-small is-danger", method: 'post'%>
                  </td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="column">

    <div class="box invites-box">
      <h2 class="title is-5 center">Leagues Invites Sent</h2>
      <div>
        <table class="table is-striped">
          <thead>
            <tr>
              <th>Recipient</th>
              <th>League</th>
              <th>Status</th>
              <th>Invite Created</th>
            </tr>
          </thead>
          <tbody>
            <% current_user.sent_league_invites.each do |league_invite| %>
              <% recipient = User.find   league_invite.receiver_id  %>
              <% league    = League.find league_invite.league_id %>
                <tr>
                  <td><%= link_to recipient.name, user_path(recipient.id)  %></td>
                  <td><%= link_to league.name, league_path(league.id) %></td>
                  <td><%= league_invite.status.capitalize %></td>
                  <td><%= league_invite.created_at.strftime("%B %d, %Y") %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% else %>
  <div class="column is-8">
    <div class="box">
      <p class="title center is-6">
        Invite <%= @user.name %> to a League
      </p>
      <table class="table is-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Commissioner</th>
          </tr>
        </thead>
        <tbody>
          <% available_invite_leagues(@user).each do |l| %>
              <% commissioner = User.find l.commissioner_id %>
              <tr>
                <td><%= link_to l.name, league_path(l.id) %></td>
                <td><%= l.id %></td>
                <td>
                  <%= link_to commissioner.name, user_path(commissioner.id) %>
                </td>
                <td>
                  <%= link_to 'Invite',
                      send_league_invite_path(id:l.id,
                                              rid: @user.id,
                                              sid:current_user.id),
                      class: "button is-small is-warning", method: 'post'%>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
</div>
