<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <%= link_to 'Reddit', 'https://www.reddit.com/r/haymakerapp/',
                  :target => "_blank" %>
      <!-- <%= link_to 'Medium', 'https://medium.com/@haymakerx',
                  :target => "_blank" %>
      <%= link_to 'Twitter', 'https://twitter.com/thehaymakerx',
                  :target => "_blank" %> -->
      <%= link_to 'Github', 'https://github.com/RonWalker22/haymaker',
                  :target => "_blank" %>
      <%= link_to 'YouTube', 'https://www.youtube.com/channel/UC4Y10LwdKhWsylEXqW5Kh7A',
                  :target => "_blank" %>
    </div>
    <div class="content has-text-right">
      <p>
        Market data powered by
        <%= link_to 'Binance API',
              'https://github.com/binance-exchange/binance-official-api-docs',
              :target => "_blank" %>
      </p>
      <p>
        Charts provided by
        <%= link_to 'TradingView', 'https://www.tradingview.com/',
                    :target => "_blank"%>
      </p>
    </div>
  </div>
</footer>
