<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <%= link_to 'Reddit', 'https://www.reddit.com/r/haymakerx/',
                  :target => "_blank" %>
      <%= link_to 'Medium', 'https://medium.com/@haymakerx',
                  :target => "_blank" %>
      <%= link_to 'Twitter', 'https://twitter.com/thehaymakerx',
                  :target => "_blank" %>
      <%= link_to 'Github', 'https://github.com/RonWalker22/haymakerx',
                  :target => "_blank" %>
    </div>
    <div class="content has-text-right">
      <p>
        Market data provided by
        <%= link_to 'Binance API',
              'https://github.com/binance-exchange/binance-official-api-docs',
              :target => "_blank" %>
        & <%= link_to 'CoinMarketCap API',
                      'https://coinmarketcap.com/api/', :target => "_blank"%>
      </p>
      <p>
        Charts provided by
        <%= link_to 'TradingView', 'https://www.tradingview.com/',
                    :target => "_blank"%>
      </p>
    </div>
  </div>
</footer>
