<header>
<nav class="navbar is-transparent">
  <div class="navbar-brand">
      <%= image_tag "hm_logo.png",alt:'HayMakerX', class: "navbar-item",
                                                  href: "/"%>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Leagues', leagues_path, :class => "navbar-item"%>
      <%= link_to 'Leaderboards', leaderboards_path, :class => "navbar-item"%>
      <%= link_to 'About', about_path, :class => "navbar-item"%>
    </div>

    <div class="navbar-end">
      <% if logged_in? %>       
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/documentation/overview/start/">
            My Leagues
          </a>
          <div class="navbar-dropdown is-boxed">
            <% current_player.leagues.each do |l| %>
              <%= link_to l.name, league_path(l.id), :class =>"navbar-item" %>
            <% end %>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/documentation/overview/start/">
            <%= current_player.username %>
          </a>
          <div class="navbar-dropdown is-boxed">
            <%= link_to "My Profile", player_path(current_player.id), 
                        :class =>"navbar-item" %>
            <%= link_to "Log out", logout_path, method: :delete, 
                        :class =>"navbar-item" %>
          </div>
        </div> 
      <% else %>
        <%= link_to 'Login', login_path, :class => "navbar-item"%>
        <%= link_to 'Sign up', new_player_path, :class => "navbar-item"%>
      <% end %>
    </div>
  </div>
</nav>
</header> 
