<header>
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <%= image_tag "hm_logo.png",alt:'HayMakerX', class: "navbar-item"%>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to 'Leagues', leagues_path, :class => "navbar-item"%>
        <%= link_to 'Leaderboards', leaderboards_path, :class => "navbar-item"%>
        <%= link_to 'About', about_path, :class => "navbar-item"%>
      </div>

      <div class="navbar-end">
        <% if logged_in? %>
          <% if appropriate_environment?('funds') %>
            <% if League.find(params[:id]).exchanges.size >= 2 %>
              <div class="navbar-item has-dropdown is-hoverable">
                <a href="#" class=navbar-link>Exchange Switcher</a>
                <div class="navbar-dropdown is-boxed">
                  <% League.find(params[:id]).exchanges.each do |x| %>
                    <%= link_to "#{x.name} Exchange", switch_exchanges(x.id),
                        :class =>"navbar-item" %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a href="#" class=navbar-link>
                <%= League.find(params[:id]).name%> Funds
              </a>
              <div class="navbar-dropdown is-boxed">
                <%= link_to 'Balances',
                  balances_path(params[:id], params[:xid]),
                    :class =>"navbar-item" %>
              </div>
            </div>
          <% end %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a href="#" class=navbar-link>My Leagues</a>
            <div class="navbar-dropdown is-boxed">
              <% current_player.leagues.each do |l| %>
                <%= link_to l.name, league_path(l.id), :class =>"navbar-item" %>
              <% end %>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="#">
              <%= current_player.username%>
            </a>
            <div class="navbar-dropdown is-boxed">
              <%= link_to "My Profile", player_path(current_player.id),
                          :class =>"navbar-item" %>
              <%= link_to "Log out", logout_path, method: :delete,
                          :class =>"navbar-item" %>
            </div>
          </div>
        <% else %>
          <%= link_to 'Login', login_path, :class => "navbar-item"%>
          <%= link_to 'Sign up', new_player_path, :class => "navbar-item"%>
        <% end %>
      </div>
    </div>
  </nav>
</header>
