<header>
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <%= image_tag "hm_logo_44.svg", alt:'HayMaker',
                    class: "navbar-item logo"%>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to 'Leagues', leagues_path, :class => "navbar-item"%>
        <%= link_to 'Players',  users_path, :class => "navbar-item"%>
        <%= link_to 'About', about_path, :class => "navbar-item"%>
      </div>
      <div class="navbar-end">
        <% if user_signed_in? %>
          <% if appropriate_environment?('funds') %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a href="#" class=navbar-link>
                <%= League.find(params[:id]).name%> Funds
              </a>
              <div class="navbar-dropdown is-boxed">
                <%= link_to 'Balances',
                  balances_path(params[:id], params[:xid]),
                    :class =>"navbar-item" %>
                <%= link_to 'Leverage', leverage_path(params[:id]), :class =>"navbar-item" %>
              </div>
            </div>
          <% end %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a href="#" class=navbar-link>My Leagues</a>
            <div class="navbar-dropdown is-boxed">
              <% current_user.leagues.each do |l| %>
                <%= link_to l.name, league_path(l.id), :class =>"navbar-item" %>
              <% end %>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="#">
              <%= current_user.name%>
            </a>
            <div class="navbar-dropdown is-boxed">
              <%= link_to "My Profile", user_path(current_user.id),
                          :class =>"navbar-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete,
                          :class =>"navbar-item" %>
            </div>
          </div>
        <% else %>
          <%= link_to 'Login', new_user_session_path, :class => "navbar-item"%>
          <%= link_to 'Sign up', new_user_registration_path, :class => "navbar-item"%>
        <% end %>
      </div>
    </div>
  </nav>
</header>
