<header>
  <% if logged_in? %>
    <table align="right" id="player_info">
      <tr>
        <th><%= current_player.username%> <%= link_to "(Log out)", logout_path,
      method: :delete %></th>
        <th>Cash</th>
        <th>Bitcoin</th>
        <th>Rank</th>
      </tr>
      <tr>
        <td></td>
        <td><%= current_player.cash %></td>
        <td><%= current_player.bitcoin %></td>
        <td><%= current_player.rank %></td>
      </tr>
    </table>
  <% else %>
  <p align="right" class="links"><%= link_to "Login", login_path %></p> 
  <% end %>
</header>