<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/leaderboards">
          <%= image_tag "hm_logo.png" %>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">Exchanges
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/exchanges/1?symbol=BTC-USD" class="ws_trigger">
                GDAX
              </a></li>
              <li><a href="/exchanges/2?symbol=BTC-USD" class="ws_trigger">
                Binance
              </a></li>
            </ul>
          </li>          
          <li><%= link_to 'Leagues', leagues_path %></li>
          <li><%= link_to 'Leaderboards', leaderboards_path %></li>
          <li>
            <%= link_to 'About', about_path %>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% unless logged_in?%>
          <li>
            <%= link_to "Login", login_path %>
          </li>
          <li>
            <%= link_to 'Sign up', new_player_path %>
          </li>
          <% end %>
          <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true"
            aria-expanded="false"><%= current_player.username %><span
            class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "My Profile", player_path(current_player.id) %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>