<%= form_with(model: player, local: true) do |form| %>
  
  <% if player.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new_player_fields">
    <span id="new_player_username_field">
      <%= form.label :username %>
    </span>
    <%= form.text_field :username, id: :player_username %>
  </div>

  <div class="new_player_fields">
    <span id="new_player_email_field">
      <%= form.label :email %>
    </span>
    <%= form.email_field :email, id: :player_email %>
  </div>

  <div class="new_player_fields">
    <span id="new_player_password_field">
      <%= form.label :password %>
    </span>
    <%= form.password_field :password, id: :player_password %>
  </div> 

  <div class="new_player_fields">
    <span id="new_player_confirm_password_field">
      <%= form.label :Confirm_password %>
    </span>
    <%= form.password_field :password_confirmation, id:
    :player_password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit "Submit"%>
  </div>
<% end %>
