<% if notice %>
  <p class="notification is-primary"><%= flash[:notice] %></p>
<% end %>
<h1 class="index_title">Top Haymakers</h1>

<table id="players_table" class="table">
  <thead>
    <tr>
      <th><abbr title="Position">Pos</abbr></th>
      <th>Username</th>
      <th>Cash</th>
      <th>BTC</th>
      <th>Email</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><abbr title="Position">Pos</abbr></th>
      <th>Username</th>
      <th>Cash</th>
      <th>BTC</th>
      <th>Email</th>
    </tr>
  </tfoot>
  <tbody>
    <% @players.each_with_index do |p,i| %>
      <tr>
        <th><%= i + 1 %></th>
        <th><%= link_to p.username, player_path(p.id) %></th>
        <td><%= p.coin_total('USD') + p.coin_total('USDT') %></td>
        <td><%= p.coin_total('BTC') %></td>
        <td><%= p.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>