<p id="notice"><%= flash[:notice] %></p>

<p>
  <strong>Username:</strong>
  <%= @player.username %>
</p>

<p>
  <strong>Cash:</strong>
  <%= @player.cash %>
</p>

<p>
  <strong>Bitcoin:</strong>
  <%= @player.bitcoin %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @player.rank %>
</p>

<p>
  <strong>Email:</strong>
  <%= @player.email %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
