<p id="notice"><%= flash[:notice] %></p>

<div id="profile_page">
  <ul>
    <li class="pp-username">
      <%= @player.username %>
      <% if logged_in? && current_player?(@player) %>
      <%= link_to 'edit' , edit_player_path(@player) %>
      <% end %>  
    </li>
    <li class="pp-other-data">
      <strong>Rank:</strong>
      <%= @player.rank %>
    </li>  
    <% if logged_in? && current_player?(@player) %>
      <li class="pp-other-data">
        <strong>Email:</strong>
        <%= @player.email %>
      </li>
    <% end %>  
  </ul>
</div>