<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HayMaker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%= controller_name + "_" + action_name%>">
    <%= render 'shared/header' %>
    <div id='inner_body'>
      <% if flash[:notice]%>
        <section class="hero is-small is-success">
          <div class="hero-body">
            <div class="container">
              <p class="subtitle">
                <%= flash[:notice] %>
              </p>
            </div>
          </div>
        </section>
      <% elsif flash[:alert] %>
        <section class="hero is-small is-warning">
          <div class="hero-body">
            <div class="container">
              <p class="subtitle">
                <%= flash[:alert] %>
              </p>
            </div>
          </div>
        </section>
      <% end %>
      <% flash.clear %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
